[Unit]
Description=UxPlay Tray Application
After=graphical-session-started.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 3
ExecStart=/home/xuanhong/uxplay-tray/uxplay-tray
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
