[Unit]
Description=UxPlay Tray Application
After=network.target

[Service]
Type=simple
ExecStart=/home/xuanhong/uxplay-tray/uxplay-tray
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
